<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">

<div layout:fragment="content">
  <div class="hero-unit">
    <p>
      Ajouter un virement <strong
        th:text="${#temporals.format(now, 'dd/MMM/yyyy HH:mm')}">31/12/2015 15:00</strong>
    </p>
  </div>
  <div>
    <div class="alert alert-secondary" role="alert" th:text="${exception}" th:if="${exception}">
    </div>
    <p>
      <form action="#" th:action="@{/virements}" th:object="${virementDto}" method="post">
       <p>Emetteur : <input type="text" th:field="*{nrCompteEmetteur}"/></p>

        <p>Beneficiaire: <input type="text" th:field="*{nrCompteBeneficiaire}"/></p>

        <p>Montant: <input type="number" th:field="*{montantVirement}"/></p>

        <p><input type="submit" value="Submit"/>
          <input type="reset" value="Reset"/></p>

      </form>
    </p>
  </div>
</div>
</html>