<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layouts/layout">

<div layout:fragment="content">
  <div class="hero-unit">
    <p>
      Welcome to octo! The time is: <strong
        th:text="${#temporals.format(now, 'dd/MMM/yyyy HH:mm')}">31/12/2015 15:00</strong>
    </p>
  </div>
  <div>
    <h1></h1>
    <p>
      Actuator endpoints allow you to monitor and interact with your application.
      Spring Boot includes a number of built-in endpoints and you can also add your own.
    </p>
    <table>

    </table>
  </div>
</div>
</html>